.home-section:first-of-type {
  padding-top: 150px;
}

#contact.home-section {
  background-image: linear-gradient(rgba(231, 234, 243, 0.5), rgba(255, 255, 255, 0));
}

#experience.home-section {
  background-image: linear-gradient(rgba(231, 234, 243, 0.5), rgba(255, 255, 255, 0));
}

#experience .card-text {
  font-family: Montserrat;
  padding-top: 30px;
  font-size: .9rem!important;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.54) !important
}

.author-card .card-title {
    margin-top: 0;
    margin-bottom: 5px;
    font-weight: 300;
    color: rgba(0, 0, 0, 0.84);
}

.media-updated {
  padding-top: 20px;
}

.media-updated p{
  font-size: .8rem;
}
