.home-section:first-of-type {
  padding-top: 150px;
}

#contact.home-section {
  background-image: linear-gradient(rgba(231, 234, 243, 0.5), rgba(255, 255, 255, 0));
}

#experience.home-section {
  background-image: linear-gradient(rgba(231, 234, 243, 0.5), rgba(255, 255, 255, 0));
}

#courses.home-section {
  background-image: linear-gradient(rgba(231, 234, 243, 0.5), rgba(255, 255, 255, 0));
}

#post.home-section {
  background-image: linear-gradient(rgba(231, 234, 243, 0.5), rgba(255, 255, 255, 0));
}

body {
  background-color: #fff;
}

.docs-article-container {
  max-width: 100%;
}

.hljs {
  background: #e8e8e8;
}

.docs-content {
  background-image: linear-gradient(to bottom, rgba(55, 125, 255, 0.075) 0%, rgba(55, 125, 255, 0.15) 100%);
}

.article-style img {
  margin-left: 1rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding: 0;
}

#experience .card-text {
  font-family: Montserrat;
  padding-top: 30px;
  font-size: .9rem!important;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.54) !important
}

.author-card .card-title {
    margin-top: 0;
    margin-bottom: 5px;
    font-weight: 300;
    color: rgba(0, 0, 0, 0.84);
}

.media-updated {
  padding-top: 20px;
}

.media-updated p{
  font-size: .8rem;
}
